[v-cloak] {
    display: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    max-width: 80vw;
    margin: 0px 10vw 0px 10vw;
}

.control {
    padding: 5px;
    border-top: 2px solid #888;
}

.control:last-of-type {
    border-bottom: 2px solid #888;
}

.control:nth-of-type(odd) {
    background: #ccc;
}

button {
    color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    background: #36d;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
}

button[disabled] {
    opacity: .5;
    cursor: initial;
}

dialog {
    position: fixed;
    display: flex;
    width: 80vw;
    height: 80vh;
    top: 10vh;
    left: 10vw;
    flex-direction: column;
    box-shadow: #333 0 0 30px;
    padding: 0px;
    margin: 0px;
}

dialog > .header {
    background: #36d;
    color: white;
    margin: 0px;
    padding: 5px;
}

dialog > .progress {
    overflow-y: scroll;
    flex-grow: 1;
    white-space: pre;
}

dialog > .footer {
    padding: 5px;
    border-top: 2px solid #333; 

}

.dialog-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    content: " ";    
    background: rgba(72, 72, 72, .3);
}